* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #292C35;
    --label: #111;
}

.light {
    --bg-color: #F1F1F1;
    
}
    


body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background: var(--bg-color);
}

#label {
    display: flex;
    position: relative;
    justify-content: space-between;

    width: 235px;
    height: 102px;
    border-radius: 59px;

    background: #000;
}

#label img {
    width: 94px;
    height: 94px;

    margin: auto 0;
    border-radius: 50%;
    padding: 5px;
}

#switch {
    width: 86px;
    height: 86px;
    border-radius: 50%;

    position: absolute;
    top:50%;
    left: 1;
    transform: translateY(-50%);
    z-index: 1;
    margin: 0 8px;

    
    animation: slide-out .4s forwards;
}

.light #switch {
    animation: slide-in .4s forwards;
}


@keyframes slide-in {
    from {
        left: 1;
    }
        
    to {
        left: 57%;
    }
}

@keyframes slide-out {
    from {
        left: 57%;
    }

    to {
        left: 1;
    }
}
